.DS_Store
node_modules/
dist/
*.tsbuildinfo
.swiftpm/
.build/

# Terraform (keep .terraform.lock.hcl)
**/.terraform/
**/*.tfstate
**/*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
!**/terraform.tfvars.example
